.top_wrapper {
    display: table;
    width: 100%;
    height: 45px;
    margin: 5px 0;
}
.circulation {
    width: 48%;
    height: 25px;
    display: table-cell;
    padding: 10px 5px;
    border:1px solid #0981bd;
    border-radius: 10px;
    float:left;
    overflow: hidden;
}
.paper_form {
    width: 96%;
    height: 23px;
    padding: 10px 5px;
    border:1px solid #0981bd;
    border-radius: 10px;
    margin: 5px 0;
    overflow: hidden;
}
.paper_form label {
    background-color: #0981bd;
    display: block;
    position: relative;
    left: -6px;
    top: -10px;
    height: 40px;
    width: 140px;
    padding: 14px 0 0 10px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    float: left;
    margin: 0 8px 0 0;
}
.middle_wrapper {
    width: 50%;
    margin-top: -100px;
}
.paper_tp {
    width: 96%;
    height: 23px;
    padding: 10px 5px;
    border:1px solid #0981bd;
    border-radius: 10px;
    margin: 5px 0;
    overflow: hidden;
}
.paper_tp label {
    background-color: #0981bd;
    display: block;
    position: relative;
    left: -6px;
    top: -10px;
    height: 40px;
    width: 140px;
    padding: 14px 0 0 10px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    float: left;
    margin: 0 8px 0 0;
}
#paper_type {
    height: 25px;
    width:210px;
    border:1px solid #0981bd;
    font-size: 14px;
    -webkit-appearance: none;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: url('/img/dropdown.png') no-repeat right #FEFEFE;
}
#paper_format {
    height: 25px;
    width:210px;
    border:1px solid #0981bd;
    font-size: 14px;
    
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: url('/img/dropdown.png') no-repeat right #FEFEFE;
}
select {
    height: 25px;
    width:210px;
    font-size: 14px;
    
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: url('/img/dropdown.png') no-repeat right #FEFEFE;
}
select > option:hover {
    border:1px solid #000;
}
.print_sides {
    width: 48%;
    height: 135px;
    display: table-cell;
    padding: 5px 5px;
    border:1px solid #0981bd;
    border-radius: 10px;
    float: right;
    overflow: hidden;
    font-weight: bold;
}
.printSidesTitle {
    background-color: #0981bd;
    display: block;
    position: relative;
    left: -6px;
    top: -10px;
    height: 20px;
    width: 101%;
    padding: 10px 0 4px 10px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    font-weight: bold;
    float: left;
}
/*--- INPUT CHECKBOX STYLE---*/
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    cursor: pointer;
    padding-left: 0;
}
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 22px;
    width: 24px;
    margin: 0 5px 0 0;
    background: url("/img/checkboxes.png");
}
input[type="checkbox"]:checked + label::before {
    background-position: 0 -22px;    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*---------------------------*/
.colors_wrapper {
    display: table;
    width: 100%;
    font-size: 0.9em;
}
.colors_wrapper label:before {
    position: relative;
    top: 4px;
}
.first_side {
    display: table-cell;
    width:50%;
}
.first_side p { 
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
}
#colors_1 {
    display: table;
    margin-top:10px;
    padding: 10px 0 0 0;
    border-top: 1px solid silver;
}
.second_side {
    display: table-cell;
    width:50%;
    border-left: 1px solid silver;
    padding: 0 0 0 8px;
}
.second_side p { 
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
}
#colors_2 {
    display: table;
    margin-top:10px;
    padding: 10px 0 0 0;
    border-top: 1px solid silver;
}
label#colors_label_1,
label#colors_label_2 {
    display: block;
    width: 190px;
    height: 24px;
}
.left_color {
    display: table-cell;
    width:49%;
}
.right_color {
    display: table-cell;
    width:49%;
}
#input_value {
    font-style: italic;
    text-align: right;
    position: relative;
    top:-2px;
    height: 28px;
    width: 150px;
    padding: 0 5px 0 0;
    font-weight: bold;
    font-size: 1.1em;
    border: 1px solid #0981bd;
    border-radius: 8px;
}
.input_value {
    background: #fff;
    box-shadow: 0 0 0.5em red;
    border: 1px solid red;
    border-radius: 5px;
}
.circulation label{
    background-color: #0981bd;
    display: block;
    position: relative;
    left: -6px;
    top: -10px;
    height: 40px;
    width: 60px;
    padding: 14px 0 0 10px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    float: left;
}
.focus_field {
    background: #fff;
    box-shadow: 0 0 0.5em #3CDBF7;
    border: 1px solid #09B6D5;
}
.text_calc {
    
}
#discountFieldRiso {
    border: 1px solid #000;
    height: 35px;
    width: 150px;
    background-color: #0981bd;
    border: 1px solid #0981bd;
    border-radius: 7px;
    margin: 8px 0 0 0;
    padding: 3px 0 0 0;
    overflow: hidden;
    float: right;
}
#disountFieldRiso input {

}
#discountFieldRiso label {
    background-color: #0981bd;
    display: block;
    position: relative;
    left: -6px;
    top: -10px;
    height: 40px;
    width: 60px;
    padding: 17px 0 0 15px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-weight: bold;
    float: left;
    margin: 0 5px 0 0;
}
#discount {
    font-style: italic;
    text-align: right;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    padding: 0 5px 0 0;
    border: 1px solid #0981bd;
    font-size: 15px;
}
#binding {
    width:100%;
    height: 60px;
    display: table;
    border:1px solid #0981bd;
    border-radius: 8px;
    overflow: hidden;
}
#binding label::before {
    position: relative;
    top: 4px;
}
#binding label {
    margin: 5px;
    position: relative;
    top: 11px;
}

#bindBox {
    display: table-cell;
    width: 33.333%;
    height: 65px;
    margin: 4px 0 0 0;
    float: left;
    font-weight: bold;
    font-size: 1em;
}
#bindText {
    display: block;
    padding: 5px 0 5px 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background-color: #0981bd;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.img {
    display: block;
    width: 45px;
    height: 45px;
    border: 1px solid #66A3D2;
    border-radius: 40px;
    background-color: #fff;
    float: left;
    margin: 5px;
}
#img-1 {
    background-image: url(/img/bind-1.jpg);
    height: 45px;
    width: 45px;
}
#img-2 {
    background-image: url(/img/bind-2.jpg);
    height: 45px;
    width: 45px;
}
#img-3 {
    background-image: url(/img/bind-3.jpg);
    height: 45px;
    width: 45px;
}
.counting_results {
    display: table;
    position: relative;
    width: 100%;
}
.count_res_add {
    width: 50%;
    position: relative;
    display: table-cell;
    padding: 9px 5px;
}
.count_res_price {
    width: 50%;
    position: relative;
    display: table-cell;
    padding: 5px 5px;
}
.count_cont {
    display: block;
    border-bottom:1px dotted silver;
    height: 20px;
    padding: 5px 5px 0 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}
.count_res_add_text {
    float: left;
}
.count_res_add_price {
    float: right;
}
.count_res {
    display: block;
    border-bottom:1px dotted silver;
    height: 35px;
    padding: 5px 5px 0 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}
.uah {
    font-size: 15px;
}
.uah_m {
    font-size: 10px;
}
.count_res_discount {
    display: block;
    border-bottom:1px dotted silver;
    height: 35px;
    padding: 5px 5px 0 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}
.count_res_text {
    float: left;
    margin: 12px 0 0 0;
    color: #000;
    font-size: 15px;
}
.count_result_price {
    float: right;
    font-size: 28px;
}
#button_cont {
    width:100%;
    height:57px;
}
.res_button {
    cursor: pointer;
    width: 200px;
    height: 37px;
    float:right;
    margin: 10px 0;
    border: 1px solid #0a88c7;
    border-radius: 10px;
    background-color: #0981bd;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-size: 1em;
}
.res_button:hover {
    background-color: #097ab3;
    box-shadow: 1px 2px 4px #031924;
}
#alert {
  width: 600px;
  float:left;
  margin: 5px 0 0 0;
  padding: 15px;
  border: 1px solid #D22C02;
  border-radius: 4px;
  color: #D63301;
  background-color: #FFCCBA;
}