#color_wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 250px;
}
/*-----LASER PRINT STYLE-----*/
#laser_col {
	display: table-cell;
	width: 48%;
	padding: 6px;
	height: 310px;
	float: left;
	border: 1px solid silver;
	border-radius: 8px;
}
#quantity_laser {

}
#input_quantity {

}
#quality_laser {
	display: table;
	width: 100%;
}
#laser_text {
	display: table-cell;
	width: 33%;
}
#laser_pic {
	display: table-cell;
	width: 33%;
}
#laser_foto {	
	display: table-cell;
	width: 33%;
}
#laser_discount {
	
}
#add_inf_laser {

}
#add_paper_price_laser {
	display: block;
	
}
#add_print_price_laser {
	display: block;
	
}
#add_print_copy_laser {
	display: block;
	
}
#print_sides_laser {

}
#sides_laser {

}
#laser_output_res {
	float: right;
}
#button_laser {
	clear: both;
}
#massage_laser {
	display: block;
	float: left;
	width: 250px;
	height: 30px;
	padding: 5px;
  	border: 1px solid #D22C02;
  	border-radius: 4px;
  	color: #D63301;
  	background-color: #FFCCBA;
  	font-size: 0.9em;
  	font-weight: bold;
  	text-align: center;
}
#res_laser_button {
	float: right;
}
.alert_laser {
    background: #fff;
    box-shadow: 0 0 0.5em red;
    border: 1px solid red;
    
}
/*-----INK JET PRINT STYLE-----*/
#inkJet_col {
	display: table-cell;
	width: 48%;
	padding: 6px;
	height: 310px;
	float: right;
	border: 1px solid silver;
	border-radius: 8px;
}
#quantity_inkJet {

}
#input_inkjet {

}
#quality_inkjet {
	display: table;
	width: 100%;
}
#inkjet_text {
	display: table-cell;
	width: 33%;
}
#inkjet_pic {
	display: table-cell;
	width: 33%;
}
#inkjet_foto {	
	display: table-cell;
	width: 33%;
}
#print_sides_laser {

}
#sides_laser {
	
}
#inkjet_output_res {
	float: right;
}
#button_inkJet {
	clear: both;
}
#massage_IJ {
	display: block;
	float: left;
	width: 250px;
	height: 30px;
	padding: 5px;
  	border: 1px solid #D22C02;
  	border-radius: 4px;
  	color: #D63301;
  	background-color: #FFCCBA;
  	font-size: 0.9em;
  	font-weight: bold;
  	text-align: center;
}
#res_inkjet_button {
	float: right;
}