body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    position: relative;
}
#wrapperBody {
  width: 920px;
  display: block;
  margin: 0 auto;
  height: 100vh;
  background-color: #fff;
  border: 1px solid gray;
  box-shadow: 0 0 30px #fff;
}
#top {
    width: 100%;
    height: 110px;
    position: relative;
    display: table;
}
#left_block {
  display: table-cell;
  width: 300px;
}
#logo_cont {
  display: table-cell;
  width: 300px;
  margin: 20px 0 0 0;
  float: left;
  font-family: sans-serif;
  font-size: 30px;
  
  text-align: center;
}
p.under_logo {
    color: gray;
    font-size: 14px;
    line-height: 0;
    text-transform: uppercase;
    position: relative;
    left: 3px;
    letter-spacing: 4.4px;
}

#clock_date_cont {
  display: table-cell;
    width: 300px;
    height: 100px;
    float: right;
    font-family: sans-serif;
    color: #000;
}
#clock_con {
  width: 150px;
    font-size: 39px;
    display: inline-block;
    float: right;
    position: absolute;
    right:0px;
    top: 50px;
    font-weight: bold;
    font-style: italic;
    border: 1px solid #0981bd;
    background-color: #0981bd;
    border-radius: 7px 0px 0px 7px;
    padding: 5px 0px 5px 12px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}
#cl_hours {
    float:left;
    line-height: 40px;
}
#cl_minutes {
    float:left;
    line-height: 40px;
}
#cl_seconds {
    float: left;
    font-size: 20px;
    margin: 17px 0 0 5px;
    width: 25px;
    /*color: #0981bd;*/
}
#date_con {
    display: table;
    width:210px;
    height: 50px;
    margin: 5px;
    font-style: italic;
    float:right;
}
#current_day {
  
  display: table-cell;
  font-weight: bold;
  color: #0981bd;
  
}
#date_m_date {
  display: table-cell;
    
    font-size: 47px;
    line-height: 40px;
    color: #0981bd;
    padding: 15px 0 -15px 0;
    margin: 0 0 0 15px;
    width: auto;

    font-weight: bold;
    
}
#monthYear {
    display: table-cell;
    vertical-align: top;
}
#date_month {
    width: auto;
    margin: 0;
    font-weight: bold;
    color: #0981bd;
}
#date_year {
    width: auto;
    margin: 3px 0 0 0;
    font-weight: bold;
    
}
#middle {
    width: 100%;
    position: relative;
    min-height:300px;
    height: 100%;
    margin: 0 auto;
    display: table;
}

#content {
    width: auto;
    margin: auto;
    margin-left:310px;
    min-height: 200px;
    height: 100%;
    position: relative;
    display: table-cell;
}
#bottom {
    
}
/*---------------TABS-------------------*/
.tabs {
  min-width: 220px;
  max-width: 900px;
  padding: 0px;
  margin: 0 10px 0 10px; 
  font-family: sans-serif;
  font-weight: normal;
  font-size: 14px;
}
/* стили секций с содержанием */
#content1, #content2, #content3, #content4 {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}
.tabs input.in_tabs {
  display: none;
  
}
/* стили вкладок (табов) */
.tabs label.tabs {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 0;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid #ddd;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
  
}
/* шрифт-иконки от Font Awesome в формате Unicode */
/*.tabs label.tabs:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
.tabs label.tabs[for*="1"]:before {
  content: "1";
}
.tabs label.tabs[for*="2"]:before {
  content: "2";
}
.tabs label.tabs[for*="3"]:before {
  content: "3";
}
.tabs label.tabs[for*="4"]:before {
  content: "4";
}*/
/* изменения стиля заголовков вкладок при наведении */
.tabs label.tabs:hover {
  color: #888;
  cursor: pointer;
}
/* стили для активной вкладки */
.tabs input.in_tabs:checked + label.tabs {
  color: #555;
  border: 1px solid #ddd;
  border-top: 1px solid #009933;
  border-bottom: 1px solid #fff;
  background: #fff;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
/* медиа запросы для различных типов носителей */  
@media screen and (max-width: 680px) {
  .tabs label.tabs {
    font-size: 0;
  }
 
  .tabs label.tabs:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .tabs label.tabs {
    padding: 15px;
  }
}
#content1 {
    background-color: #ebf2f6;
}